{% extends "common/base.html" %}

{% block title %}Page profile de Practiciens{% endblock %}

{% block content %}
  <h1>Prise de rendez-vous</h1>
  <hr>
  <div class="content">
    <div class="informations">
      <p>{{ doctor.last_name }} {{ doctor.first_name }}</p>
      {% if doctor.speciality %}
        <p>{{ doctor.speciality }}</p>
      {% else %}
        <p>Spécialité non renseignée</p>
      {% endif %}
      <p>{{ doctor.email }}</p>
    </div>
    <div class="error">
      {% if error %}
        {{ error }}
      {% endif %}
    </div>
    <div class="success">
      {% if success %}
        {{ success }}
      {% endif %}
    </div>
    <ul>
      {% for slot in slots %}
        {% if slot.is_reserved %}
          <li class="slot-reserved">
            {{ slot.start_time }} {{ slot.end_time }}
            {{ slot.date|date:"d/m/Y" }}
            <button>Réserver</button>
          </li>
        {% else %}
          <li class="slot-available">
            {{ slot.start_time }} {{ slot.end_time }}
            {{ slot.date|date:"d/m/Y" }}
            <button><a href="{% url 'add_appointment' slot.id %}">Réserver</a></button>
          </li>
        {% endif %}
      {% endfor %}
    </ul>
  </div>
{% endblock %}